/*Constants*/

$text-color: #111111;
$header-color: #666666;
$body-font: tahoma;
$header-font: verdana;

body
{
color: $text-color;
font-family: $body-font;
}

h1
{
color: $header-color;
font-family: $header-font;
}